.recipe-list {
  padding: 1rem;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
}